h3,
h4,
button {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}
input,
label,
button {
  padding: 5px;
  margin: 2px;
}
p {
  letter-spacing: 1.5px;
}
input {
  max-width: 50px;
}
form {
  display: flex;
  justify-content: center;
  margin: 20px;
}
main {
  width: 80vw;
  margin: 50px auto;
}
body {
  background-color: rgb(216, 240, 241);
}
